###> IDE ###
/.idea/
/.vscode/
*.sublime-project
*.sublime-workspace

###> Temporary files ###
/_tmp/
/tmp/

###> Symfony ###
/var/
/vendor/
.env.local
.env.local.php
.env.*.local
.phpunit.result.cache

###> PHP ###
composer.phar
/phpunit.xml
.phpunit.cache

###> OS ###
.DS_Store
Thumbs.db
