{# DE: Plain-Header mit minimalen Klassen. #}
{# EN: Plain header with minimal classes. #}

<div class="modal-header cookie-consent-header">
    <h5 id="cookie-consent-title-{{ id_suffix }}" class="modal-title cookie-consent-title">
        {{ 'cookie_consent.title'|trans }}
    </h5>
</div>
