{# DE: Tabler-Header mit Banner-Layout und Badge. #}
{# EN: Tabler header with banner layout and badge. #}

<div class="cookie-consent-banner">
    <div>
        <h5 id="cookie-consent-title-{{ id_suffix }}" class="cookie-consent-title">
            {{ 'cookie_consent.title'|trans }}
        </h5>
        <p class="cookie-consent-description">
            {{ 'cookie_consent.description'|trans }}
        </p>
    </div>
    <div class="cookie-consent-badge">
        {{ 'cookie_consent.badge'|trans }}
    </div>
</div>
