{# DE: Button zum Öffnen des Consent-Modals. #}
{# EN: Button to open the consent modal. #}
<button
    type="button"
    class="{{ class }}"
    data-controller="jostkleigrewe--cookie-consent-bundle--cookie-consent-settings-button"
    data-action="click->jostkleigrewe--cookie-consent-bundle--cookie-consent-settings-button#open"
>
    {{ label|trans }}
</button>
