{# DE: Bootstrap-Header mit modal-header Klasse. #}
{# EN: Bootstrap header with modal-header class. #}

<div class="modal-header cookie-consent-header">
    <h5 id="cookie-consent-title-{{ id_suffix }}" class="modal-title cookie-consent-title">
        {{ 'cookie_consent.title'|trans }}
    </h5>
</div>
